
body {
  width: 1440px;
  height: 10650px;
  display: block;
  margin: auto;
  background-color: #B9E3C6;
  font-family: "Fira Code";
  position: relative;
}

h1 {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 128px;
}

h2 {
  color: #333333;
  font-family: "FiraCode-Regular";
  font-size: 85px;
}

h3 {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 74px;
}

h4 {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 64px;
}

h5 {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 48px;
}

h6 {
  color: #333333;
  font-family: "FiraCode-SemiBold";
  font-size: 32px;
}

/* первый блок */

.Fira {
  margin-top: 510px;
  margin-left: 430px;
}

.Code {
  margin-top: -128px;
  margin-left: 900px;
}

.p {
  margin-left: 173px;
  margin-top: -475px;
}

.r {
  margin-left: 326px;
  margin-top: -127px;
}


.o {
  margin-top: 31px;
  margin-left: 477px;

}

.sh {
  margin-top: -123px;
  margin-left: 630px;
}

.r2 {
  margin-top: 25px;
  margin-left: 782px;
}

.i {
  margin-top: -45px;
  margin-left: 933px;
}

.f {
  margin-top: -124px;
  margin-left: 1085px;
}

.t {
  margin-top: 27px;
  margin-left: 1238px;
}

.screen1 {
  width: 1440px;
  height: 1004px;
  position: relative;
  background-image: url(../images/firstscreen.svg);
  width: 100%;
  overflow: hidden;
}

/* второй блок */

.shrift {
  line-height: 42px;
  margin-left: 650px;
  margin-top: -415px;
}

.kolba {
  margin-top: 98px;
}

.mikrob {
  margin-top: 98px;
  margin-left: 650px;
}

.molekula {
  margin-top: 98px;
  margin-left: 150px;
}

/* третий блок */

.d {
  margin-top: 87px;
  margin-left: 325px;
}

.e {
  margin-top: 30px;
  margin-left: 476px;
}

.t2 {
  margin-top: -125px;
  margin-left: 630px;
}

.a {
  margin-top: 27px;
  margin-left: 782px;
}

.l {
  margin-top: -46px;
  margin-left: 933px;
}

.i2 {
  margin-top: -126px;
  margin-left: 1085px;
}

.screen3 {
  width: 1440px;
  height: 306px;
  position: relative;
  background-image: url(../images/maket2.svg);
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}

/* блок четвёртый */

.srift2 {

  line-height: 42px;
  margin-left: 80px;
  margin-top: 100px;
}

.formula {
  color: #333333;
  font-family: "FiraCode-Regular";
  font-size: 70px;
  margin-left: 78px;
  margin-top: 80px;
  letter-spacing: -0.03em;
}

.formula1 {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 48px;
  margin-left: 166px;
  margin-top: -30px;
}

.formula2 {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 48px;
  margin-left: 290px;
  margin-top: -40px;
}

.formula3 {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 48px;
  margin-left: 455px;
  margin-top: -40px;
}

.mikrob2 {
  margin-left: 1100px;
  margin-top: -430px;
  margin-bottom: 200px;
}

.mikrob3 {
  margin-left: 50px;
  margin-bottom: -600px;
  margin-top: 300px;
}

.laboratory {
  width: 1440px;
  height: 2543px;
  position: relative;
  background-image: url(../images/laboratory.svg);
  width: 100%;
  overflow: hidden;
  margin-top: -330px;
}

.shest {
  position: relative;
  margin-top: 640px;
  margin-left: 1140px;
}

.style {
  margin-left: 1020px;
}

.avtor {
  margin-left: 325px;
  margin-top: 190px;
}

.Prokopov {
  margin-left: 260px;
}

.Nikita{
  margin-left: 306px;
}

.sto {
  margin-top: 860px;
  margin-left: 1060px;
}

.yazik {
  margin-left: 1020px;
}

/* пятый блок */

.nachertania {
  width: 1440px;
  height: 419px;
  position: relative;
  background-image: url(../images/maket3.svg);
  width: 100%;
  overflow: hidden;
}

.n {
  margin-top: 90px;
  margin-left: 98px;
}

.a2 {
  margin-top: 25px;
  margin-left: 250px;
}

.ch {
  margin-top: -123px;
  margin-left: 325px;
}

.e2 {
  margin-top: 28px;
  margin-left: 477px;
}

.r3 {
  margin-top: -128px;
  margin-left: 629px;
}

.t3 {
  margin-top: 32px;
  margin-left: 706px;
}

.a3 {
  margin-top: -124px;
  margin-left: 858px;
}

.n2 {
  margin-top: 28px;
  margin-left: 1009px;
}

.i3 {
  margin-top: -124px;
  margin-left: 1161px;
}

.ya {
  margin-top: -48px;
  margin-left: 1313px;
}

.table {
  width: 1440px;
  height: 393px;
  position: relative;
  background-image: url(../images/table.svg);
  width: 100%;
  overflow: hidden;
  margin-top: -70px;
}

.Light {
  color: #333333;
  font-family: "FiraCode-Light";
  font-size: 128px;
  margin-left: 50px;
  margin-top: 70px;
}

.Regular {
  color: #333333;
  font-family: "FiraCode-Regular";
  font-size: 128px;
  margin-left: 290px;
  margin-top: -127px;
}

.Retina {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 128px;
  margin-left: 532px;
  margin-top: -127px;
}

.Medium {
  color: #333333;
  font-family: "FiraCode-Medium";
  font-size: 128px;
  margin-left: 772px;
  margin-top: -127px;
}

.SemiBold {
  color: #333333;
  font-family: "FiraCode-SemiBold";
  font-size: 128px;
  margin-left: 1010px;
  margin-top: -127px;
}

.Bold {
  color: #333333;
  font-family: "FiraCode-Bold";
  font-size: 128px;
  margin-left: 1245px;
  margin-top: -127px;
}

.Light2 {
  color: #333333;
  font-family: "FiraCode-Light";
  font-size: 40px;
  margin-left: -1190px;
  margin-top: -1200px;
  transform: rotate(-90deg);
}

.Regular2 {
  color: #333333;
  font-family: "FiraCode-Regular";
  font-size: 40px;
  margin-left: -713px;
  margin-top: 245px;
  transform: rotate(-90deg);
}

.Retina2 {
  color: #333333;
  font-family: "FiraCode-Retina";
  font-size: 40px;
  margin-left: -240px;
  margin-top: 170px;
  transform: rotate(-90deg);
}

.Medium2 {
  color: #333333;
  font-family: "FiraCode-Medium";
  font-size: 40px;
  margin-left: 238px;
  margin-top: 200px;
  transform: rotate(-90deg);
}

.SemiBold2 {
  color: #333333;
  font-family: "FiraCode-Medium";
  font-size: 40px;
  margin-left: 720px;
  margin-top: 247px;
  transform: rotate(-90deg);
}

.Bold2 {
  color: #333333;
  font-family: "FiraCode-Medium";
  font-size: 40px;
  margin-left: 1205px;
  margin-top: 102px;
  transform: rotate(-90deg);
}

/* шестой блок */

.bigmolekula {
  width: 958px;
  height: 955px;
  background-image: url(../images/bigmolekula.svg);
  margin-top: -390px;
  margin-left: 260px;
}

.mikrob4 {
  margin-top: 280px;
  margin-left: 120px;
}

.mikrob5 {
  margin-left: 1100px;
  margin-top: -220px;
}

.molekula2 {
  margin-left: -150px;
  margin-top: 620px;
}

.mikrob6 {
  margin-left: 900px;
  margin-top: -600px;
}

.ygl {
  margin-left: 175px;
  margin-top: 40px;
}

.line {
  margin-left: 710px;
  margin-top: -345px;
}

.form {
  margin-top: 260px;
  margin-right: 140px;
}

/* седьмой блок */

.paper {
  background-image: url(../images/maket4.svg);
  width: 1440px;
  height: 990px;
  width: 100%;
  overflow: hidden;
}

.colortext {
  color: #FF3434;
}

.colortext1 {
  color: #FD367E
}

.colortext2{
  color: #3ABA62;
}

.dano {
  margin-top: 90px;
  margin-left: 100px;
  color: #333333;
}

.dano1 {
  color: #333333;
  margin-top: 28px;
  margin-left: 96px;
}

.abc {
  color: #333333;
  margin-left: 480px;
  margin-top: -809px;
}

.line1 {
  color: #333333;
  margin-top: 28px;
  margin-left: 480px;
  letter-spacing: 8.3px;
}

.glif {
  color: #3ABA62;
  margin-top: 108px;
  margin-left: 480px;
}

.line2 {
  color: #3ABA62;
  margin-top: 28px;
  margin-left: 480px;
  letter-spacing: 8.3px;
}

.mark {
  color: #FF3434;
  margin-top: 108px;
  margin-left: 480px;
}

.line3 {
  color: #FF3434;
  margin-top: 28px;
  margin-left: 480px;
  letter-spacing: 8.3px;
}

.number {
  color: #FD367E;
  margin-top: 100px;
  margin-left: 480px;
}

.line4 {
  color: #FD367E;
  margin-top: 28px;
  margin-left: 480px;
  letter-spacing: 8.3px;
}

/* восьмой блок */

.formula9 {
  margin-top: 100px;
  margin-left: 40px;
  letter-spacing: -0.03em;
}

.formula10 {
  margin-top: -50px;
  margin-left: 390px;
}

.formula11 {
  margin-top: -60px;
  margin-left: 840px;
}

.Mindeleev {
  width: 1327px;
  height: 572px;
  overflow: hidden;
  margin-top: -100px;
  margin-left: 70px;
}

.formula12 {
  margin-left: 610px;
  margin-top: -40px;
  letter-spacing: -0.03em;
}

.formula13 {
  margin-left: 720px;
  margin-top: -40px;
}

.formula14 {
  margin-left: 870px;
  margin-top: -55px;
}

.formula15 {
  margin-left: 1065px;
  margin-top: -65px;
}

/* девятый блок */

.laboratory2 {
  background-image: url(../images/laboratory2.svg);
  width: 1389px;
  height: 814px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 50px;
}

.hi {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 120px;
  margin-top: 580px;
  margin-left: 125px;
}

.Fira2 {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 120px;
  margin-top: -120px;
  margin-left: 497px;
}

.Code2 {
  color: #FFFEE6;
  font-family: "FiraCode-Medium";
  font-size: 120px;
  margin-top: -120px;
  margin-left: 984px;
}

.formula16 {
  margin-left: 90px;
  margin-top: 160px;
  letter-spacing: -0.03em;
}

.formula17 {
  margin-left: 300px;
  margin-top: -40px;
}

.formula18 {
  margin-left: 745px;
  margin-top: -60px;
}

.Mindeleev2 {
  width: 1275px;
  height: 498px;
  overflow: hidden;
  margin-top: -130px;
  margin-left: 90px;
}

.formula19 {
  margin-left: 440px;
  margin-top: -50px;
  letter-spacing: -0.03em;
}

.formula20 {
  margin-left: 795px;
  margin-top: -40px;
}

.formula21 {
  margin-left: 1095px;
  margin-top: -60px;
}

/* десятый блок */

.bottom {
  width: 1440px;
  height: 440px;
  background-image: url(../images/bottom.svg);
  margin-top: 120px;
  width: 100%;
  overflow: hidden; 
}

.name {
  color: #FFFEE6;
  font-size: 36px;
  font-family: "FiraCode-Medium";
  margin-left: 130px;
  margin-top: -140px;
  line-height: 140%;
}

.hse {
  margin-left: 1000px;
  margin-top: 150px;
}