@font-face {
  font-family: "FiraCode-Bold";
  src: url("../fonts/FiraCode-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "FiraCode-Light";
  src: url("../fonts/FiraCode-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "FiraCode-Medium";
  src: url("../fonts/FiraCode-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "FiraCode-Regular";
  src: url("../fonts/FiraCode-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "FiraCode-SemiBold";
  src: url("../fonts/FiraCode-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "FiraCode-Retina";
  src: url("../fonts/FiraCode-VF.woff") format("woff");
  font-style: normal;
  font-weight: 450;
}